//Colors
$primary-blue: #33617B;
$secondary-blue: #39B2E3;
$primary-green: #7EBB05;
$secondary-green: #4CB587;
$datastreams-silver: #E1E8F2;

//Tile colors
$green-tile: rgba($primary-green, 0.5);
$blue-tile: rgba($secondary-blue, 0.5);
$gray-tile: rgba($primary-blue, 0.5);

//Body Background
$body-bg: #EFF3F8;