.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .dashboard__component__items__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .dashboard__component__items__item__sender {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 30px;
            min-height: 30px;
            padding: 5px;
            margin-right: 10px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
        }

        .dashboard__component__items__item__sender--green {
            background-color: $green-tile;
        }

        .dashboard__component__items__item__sender--blue {
            background-color: $blue-tile;
        }

        .dashboard__component__items__item__sender--gray {
            background-color: $gray-tile;
        }

        .dashboard__component__items__item__content {
            font-size: 0.875rem;
        }
    }

    .dashboard__component__action {
        position: absolute;
        bottom: calc(0% - 17.5px);
        left: calc(50% - 100px);
        transition: transform 0.5s ease-out;

        &:hover,
        &:focus {
            transform: translate(0, -5px) !important;
            transition: 0.5s ease-in-out;
        }
    }

    .dashboard__component__action--no-center {
        bottom: calc(0% - 17.5px);
        left: 50px;
    }

    .dashboard__component__add {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .dashboard__component__content {
        display: flex;
        justify-content: space-between
    }

    .dashboard__component__content__reminders {
        max-width: 350px;

        img,
        svg {
            max-height: 12px;
            fill: red;
        }

        td {
            width: auto;
            height: 30px;
            padding-right: 1rem;
            font-weight: normal;
            white-space: nowrap;
            border-bottom: 1px solid #ddd;

            &:first-child {
                width: 10rem;
                padding-right: 0.5rem;
            }

            &:last-child {
                width: 1rem;
                padding-right: 0rem;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
        }
    }
}