  .wrapper{
    display: flex;
    // position: relative;
  }
  
  .wrapper .navigation{
    width: 200px;
    height: 100vh;
    background: #33617B;
    padding: 30px 0px;
    // position: fixed;
  }
  
  .wrapper .navigation h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .navigation ul li{
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .navigation ul li a{
    color: #ffffff;
    display: block;
  }
  
  .wrapper .navigation ul li a .fas{
    width: 25px;
  }
  
  .wrapper .navigation ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }
      
   
  .wrapper .navigation .log_out{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .navigation .log_out a{
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }