@import 'colors.scss';
@import 'dashboard.scss';
@import 'elements.scss';
@import 'navigation.scss';
@import 'sources.scss';
@import 'typography.scss';
@import 'documents.scss';
@import 'file.scss';
@import 'filter.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    background-color: $body-bg;
    font-size: 1rem;
}