@font-face {
    font-family: 'ProximaNovaRegular';
    src:  url(/assets/fonts/ProximaNovaRegular.woff2) format("woff2"),
    url(/assets/fonts/ProximaNovaRegular.woff) format("woff");
}

@font-face {
    font-family: 'ProximaNovaBold';
    src:  url(/assets/fonts/ProximaNovaBold.woff2) format("woff2"),
    url(/assets/fonts/ProximaNovaBold.woff) format("woff");
}

@font-face {
    font-family: 'OxygenBold';
    src:  url(/assets/fonts/OxygenBold.woff2) format("woff2"),
    url(/assets/fonts/OxygenBold.woff) format("woff");
}

// font
$font-primary: 'ProximaNovaRegular', Arial, Helvetica, sans-serif;
$font-bold: 'ProximaNovaBold', Arial, Helvetica, sans-serif;
$font-btn: 'OxygenBold', Arial, Helvetica, sans-serif;

//font-sizes
$button-font-size: 1.125em;

h1, h2, h3, h4, h5, h6, button, label, a, p {
    font-family: $font-primary;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1rem;
}
